*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  color: rgb(131, 23, 233);
  background-color: #ffffff;
  overflow-x: hidden;

}
p{
  font-size: 21px;
  text-align: center;
}
.Img{
  max-width: 300px;
}
@media(min-width:991px){
  h6{
    font-size: 56px;
    text-align: center;
  }
}

@media(min-width:767px){
  input{
    width: 100%;
  }
  .Img{
    /* max-width: 300px; */
    max-width: 420px;
  }
  h6{
    font-size: 47px;
    text-align: center;
  }   
  /* .middl, .about, .rocket{
    margin: 150px auto;

  } */
  .middl{
    width: 50%;
    text-align: center;
    text-align: center;
    margin: 150px auto;
  }
  .middl p{
    width: 24rem;
    margin: 20px auto;
  }
  .about{
    margin: 100px auto;
  }
  .rocket{
    margin: 100px auto;
  }
}

input{
  border-radius: 4px;
    border: 0px;
    background: rgb(241, 242, 243);
    transition: all 0.3s ease-in-out 0s;
    outline: none;
    
    padding: 1rem 1.25rem;
    margin: 10px 0px;
}
.navbar {
  height: 60px;
  background-color: rgb(146, 14, 235);
  position: relative;
  color: white;
}

.logo {
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(24, 33, 109);
}

.BTN{
    background: rgb(156, 10, 240);
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 700;
    width: 100%;
    border: 1px solid rgb(237, 243, 245);
    border-radius: 4px;
    padding: 7px 0px;
    cursor: pointer;
    margin-top: 0.625rem;
    max-width: 120px;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgba(23, 31, 114, 0.2) 0px 16px 30px;
}
button:hover{
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 130, 92);
  background-color: rgb(255, 130, 92);
}
@media (max-width: 767px) {
  .form{
    margin-top: 5rem;
  }
  input{
    width: 100%;
  }
  h6{
    font-size: 32px;
    text-align: center;
  }   
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgb(24, 33, 109);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 5;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    z-index: 5;
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
